html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

* {
  box-sizing: border-box; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.37333rem;
  background: #efefef; }

header {
  width: 100%;
  height: 1.06667rem;
  padding: 0 0.4rem;
  display: flex;
  background: #fff;
  line-height: 1.06667rem;
  font-size: 0.42667rem;
  font-weight: bold; }
  header span {
    margin-right: 0.4rem; }

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #fff; }
  section h2 {
    width: 100%;
    height: 1.33333rem;
    line-height: 1.33333rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(15, 155, 57, 0.959);
    text-align: center;
    margin-bottom: 0.53333rem; }

footer {
  width: 100%;
  height: 4.26667rem;
  overflow: hidden; }
  footer ul {
    width: 100%;
    height: 100%;
    border-left: 0.02667rem solid #ccc;
    border-top: 0.02667rem solid #ccc; }
    footer ul li {
      width: 100%;
      height: 1.06667rem; }
      footer ul li span {
        display: inline-block;
        width: 24%;
        height: pxtorem(40px);
        text-align: center;
        line-height: 1.06667rem;
        border-right: 0.02667rem solid #fff;
        border-bottom: 0.02667rem solid #fff;
        font-size: 0.42667rem; }
      footer ul li:nth-child(4) span:nth-child(3) {
        width: 49%; }
