@import "common.scss";
*{
    box-sizing:border-box;
}
.wrap{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    font-size:pxTorem(14px);
}
header{
    width:100%;
    height:pxTorem(160px);
    background:rgba(15, 155, 57, 0.959);
    padding:0 pxTorem(10px);
    display:flex;
    flex-direction: column;
    color:#fff;
    &>h2{
        font-size:pxTorem(16px);
        line-height:pxTorem(30px);
    }
    .head{
        margin-top:pxTorem(20px);
        padding-left:pxTorem(10px);
        h1{
            font-size:pxTorem(40px);
            font-weight:bold;
            line-height:pxTorem(60px);
        }
    }
}
section{
    flex:1;
    background:#efefef;
    overflow: hidden;
    .list{
        display:flex;
        flex-direction: column;
        .con{
             display:flex;
             width:100%;
             height:pxTorem(80px);
             margin-bottom:pxTorem(10px);
             background:#fff;
             align-items:center;
             padding:0 pxTorem(10px);
             img{
                 width:pxTorem(50px);
                 height:pxTorem(50px);
                margin-right:pxTorem(10px);
             }
             .title{
                 flex:1;
                 h2{
                     font-size:pxTorem(16px);
                     font-weight:bold;
                     line-height:pxTorem(40px);
                 }
             }
             span{
                 margin-left:pxTorem(10px);
             }
        }
    }
}
footer{
    width:100%;
    height:pxTorem(40px);
    background:#fff;
    position: relative;
    span{
        position: absolute;
        left:50%;
        top:pxTorem(-60px);
        width:pxTorem(80px);
        height:pxTorem(80px);
        background:rgba(15, 155, 57, 0.959);
        border-radius:50%;
        text-align:center;
        color:#fff;
        line-height:pxTorem(80px);
        font-size:pxTorem(50px);
        margin-left:pxTorem(-40px);
    }
}