@import "common.scss";
*{
    box-sizing:border-box;
}
.wrap{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    font-size:pxTorem(14px);
    background:#efefef;
}
header{
      width:100%;
      height:pxTorem(40px);
      padding:0 pxTorem(15px);
      display:flex;
      background:#fff;
      line-height:pxTorem(40px);
      font-size:pxTorem(16px);
      font-weight:bold;
      span{
          margin-right:pxTorem(15px);
      }
}
section{
     flex:1;
     display:flex;
     flex-direction: column;
     justify-content:flex-end;
     background:#fff;
     h2{
         width:100%;
         height:pxTorem(50px);
         line-height:pxTorem(50px);
         font-size:pxTorem(30px);
         font-weight:bold;
         color: rgba(15, 155, 57, 0.959);
         text-align:center;
         margin-bottom:pxTorem(20px);
     }
}
footer{
    width:100%;
    height:pxTorem(160px);
    overflow: hidden;
    ul{
        width:100%;
        height:100%;
        border-left:pxTorem(1px) solid #ccc;
        border-top:pxTorem(1px) solid #ccc;
        li{
            width:100%;
            height:pxTorem(40px);
            span{
                display:inline-block;
                width:24%;
                height:pxtorem(40px);
                text-align:center;
                line-height:pxTorem(40px);
                border-right:pxTorem(1px) solid #fff;
                border-bottom:pxTorem(1px) solid #fff;
                font-size:pxTorem(16px);
            }
          &:nth-child(4){
              span:nth-child(3){
                  width:49%;
              }
          }
        }
        
    }
   
}